@import "styles/settings";

.provider-registration {
    position: relative;
    width: $base-form-container-width;
    margin: $base-top-margin auto 0 auto;

    .loading {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
