.client-confirm-reservation-modal__item {
    padding: 10px 0 10px 0;
}

.client-confirm-reservation-modal__item-label {
    margin-right: 10px;
}

.client-confirm-reservation-modal__item-data {
    margin-left: 10px;
}
