@import 'styles/settings';
@import 'styles/_colors.scss';


@mixin text-area {
    display: block;
    resize: none;
    height: 243px;
    border: 2px solid $grey-color;
    border-radius: 4px;
    font-size: $base-font-size;
    width: 100%;
    box-sizing: border-box;
}

label.text-area {
    line-height: 46px;
    textarea {
        @include text-area();
    }
}

input.text-area {
    @include text-area();
}

