@import "styles/settings";
@import "styles/colors";

.provider-reservation-list {

    width: $base-container-width;
    margin: $base-top-margin auto 0 auto;

    table {
        width: 100%;
        th {
            font-size: 30px;
        }
        th,td {
            vertical-align: top;
            padding: 15px;
            text-align: left;
        }

        tr {
            transition: background-color 0.5s;
        }
    }

    tbody {
        tr:hover {
            cursor: pointer;
            background-color: rgba(222,25,58, 0.1);
        }
    }
}
