@import 'styles/colors';
@import 'styles/settings';

.button {
    color: $secondary-color;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}
.button_sm {
    font-size: 20px;
}

.button_bold {
    font-weight: bold;
}
