

.provider-reservation-details__item {
    padding: 10px 0 10px 0;
}

.provider-reservation-details__item-label {
    margin-right: 10px;
}

.provider-reservation-details__item-data {
    margin-left: 10px;
}
