@import 'styles/settings';
@import 'styles/colors';

.client-available-providers {
    width: $base-container-width;
    margin: $base-top-margin auto 0 auto;
}

.client-available-providers__line {
    td {
        padding: 10px 0;
    }
}


.client-available-providers__table {
    width: 100%;
    text-align: left;
}

.client-available-providers__back-link {
    margin-top: 10px;
    margin-bottom: 10px;
    a {
        text-decoration: none;
        color: $secondary-color;
        font-size: 30px;
    }
}
