@import '../../../styles/colors';

.multi-select {
    position: relative;
    &:focus-within{

        .multi-select__list {
            visibility: visible;
        }
    }
}

.multi-select__input {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;

    border: 2px solid $grey-color;
    padding: 18px 12px;
    border-radius: 4px;
}

.multi-select__list {
    top: 0;
    width: 100%;
    font-size: 18px;
    visibility: hidden;
    position: absolute;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;

    border: 2px solid $grey-color;
    padding: 13px 7px;
    border-radius: 4px;
    background-color: white;
    z-index: 100;
    li {
        line-height: normal;
    }
}

.multi-select__save-button {
    &.button {
        font-size: 18px;
        padding: 15px 5px 5px 5px;
    }
}
