@import 'styles/colors';

.data-time-list-picker {

    .data-time-list-picker__remove-button {
        margin-left: 10px;
    }

    border: 2px solid $grey-color;
    border-radius: 4px;
}

.data-time-list-picker__add-item {
    font-size: 20px;
    margin-top: 10px;
}
