@import 'styles/settings';
@import 'styles/_colors.scss';


@mixin input {
    display: block;
    padding: 18px 12px;
    font-size: $base-font-size;
    border: 2px solid $grey-color;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

label.input {
    line-height: 46px;
    input {
        @include input();
    }
}

input.input {
    @include input();
}
