@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import 'styles/settings.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: $base-font-size;
}

h1 {
  font-size: 40px;
}
